.question-container {
    &__footer{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;

        &__alert-width {
            width: 500px;
            text-align: center;
            display: inline-block;
        }
    }
    
    &__answer-choices {
        display: inline-block; 
        text-align: left;
    }
    
   
    
    &__input {
        margin-right: 12px;
    }
    
    &__answer-feedback {
        font-weight: 700;
        &__correct {
            color: darkgreen;
        }
        
        &__incorrect {
            color: red;
        }
    }
    
    &__text-unhighlight {
        user-select: none;
    }
}

