.submit-button{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.answer-choices {
    display: inline-block; 
    text-align: left;
}

.alert-width {
    width: 500pxpx;
    text-align: center;
    display: inline-block;
}

.form-check-input {
    margin-right: 12px;
}

.answer-feedback {
    font-weight: 700;
    &__correct {
        color: darkgreen;
    }
    
    &__incorrect {
        color: red;
    }
}

